{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'eventos/css/form.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ form.instance.pk|default:"Nueva" }} Foto de Servicio</title>
</head>
<body>
    <h1>{{ form.instance.pk|default:"Nueva" }} Foto de Servicio</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
{% endblock %}